/*======================= LAYOUT =======================*/

body{
	margin:0px;
	padding:0px;
	font: 12px "Helvetica", sans-serif;
}


#logo{
	margin-left: 10px;
	font-size:48px;
	float: left;
	width: 150px;
	height:68px;
	background-image: url(/static/img/logo.png);
	display: block;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	background: #F6F6F6;
	padding: 0px;
}

#content{
	padding: 0px;
	margin: 0px;
}

#header{
	background: #333333;
	height: 70px;
	position: relative;
	border-bottom: 1px solid #efefef;
}

/*======================= PATH HEADING =======================*/

.path{
	height: 20px;
	margin: 1px 0px;
	padding: 2px 7px; 
/*	background: #D6D6C1;*/
	color: #666;
}

.path a{
	color: #666;
	text-decoration: none;
	
}

.path a:hover{
	color: #559955;
	text-decoration: underline;
}

/*======================= RISK MATRIX =========================*/

.risk-bar{
	background: #cf7979;
	display: block-inline;
	height: 15px;
	float: left;
	color: #000000 !important;
	border: 1px solid #666;
	font-weight: bolder !important;
	font-size: 16px !important;
	font: 14px "Helvetica", sans-serif !important;
	padding: 0px;
	margin: 0px 4px 0px 0px;
}

/*============================ TABS ============================*/
ul.tabs{
	height: 25px;
	padding: 0px;
	margin: 0px 0px 6px 0px;
	background: #D6D6C1;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid #666;
}
.tabs li{
	height: 15px;
	min-width: 80px;
	list-style: none;
	display: block-inline;
	float: left;
	margin: 0px 0px;
	padding: 5px 6px;
	
	text-align: center;
	
}

.tabs li.active{
	background: #F6F6F6;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: none;
}

.tabs a{
	color: #666	;
	text-decoration: none;
	padding: 3px 6px;
}

.tabs li:hover{
	background: #559955;
}

.tabs a:hover{
/*	text-decoration: underline;*/
	
	color: #FFFFFF;
	-webkit-border-radius: 10px;
}


/*====================== RISK MODEL FORM ========================*/

input{
	border: 1px solid #DDD;
	padding: 3px 4px;
}

.option-name input{
	border: none !important;
	display: inline-block;
	width: 180px;
	height: 20px;
	background-origin: padding-box;
	-webkit-appearance: none;
	-moz-box-sizing: content-box;
	-webkit-user-select: text;
	margin: 0px;
	padding: 0px !important;
}
	
.option-name input:focus{
	outline-width:0;
}

.option-wrapper{
	display: block;
	border: 1px solid #DDD;
	background: #FFF;
	padding: 1px 4px;
}

a.rm-inline{
	color: #CCC;
	text-decoration: none;
	margin: 4px 6px;
}

a.rm-inline:hover{
	color: #666;
}

.blue{
	border: 1px solid blue;
}

/****************************************************************************/
/* DATATABLES STUFF */
/****************************************************************************/


.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
	
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}

.ui-buttonset .ui-button {
	margin-right: -0.1em !important;
}

.paging_full_numbers {
	width: 350px !important;
}

.ui-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

table.display thead th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	* cursor: hand;
	background: #E9E9E9 !important;
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}



table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}


.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 50%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_button{
	margin: 5px 2px 5px 0px;
	padding: 3px;
	border: 1px solid #AAA;
}

.paginate_active{
	background: #AAA;
	color: #FFF;
	margin: 0px 0px 0px 0px;
	padding: 3px;
	border: 1px solid #AAA;
}

.paging_full_numbers{
	margin: 5px;
}

.datatables_info{
	margin: 5px;
}

table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	border: 1px solid #D8D8D8;
}

table.display tfoot th {
	padding: 3px 0px 3px 10px;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 3px;
}

table.display td:hover {

}


table.display td.center {
	text-align: center;
}


.monospace{
	font-family: "Courier New", Courier, monospace !important;
}

/****************************************************************************/
/*CUSTOM DATATABLES STUFF */
/****************************************************************************/
.sorting_asc {
	background: #FFF url('/static/img/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: #FFF url('/static/img/sort_desc.png') no-repeat center right;
}

.sorting {
	background: #FFF url('/static/img/sort_both.png') no-repeat center right;
}

.display thead{
	border: 1px solid #D8D8D8;
}

.sorting_asc, .sorting_desc, .sorting{
	background: #EAEAEA;
}

div .dataTables_wrapper{
	clear: both;
}

table.grad tr{
	background: url('/static/img/row_bg.png');
	border-top: 1px solid #D8D8D8;
}

td.right-edge{
	border: 1px solid #D8D8D8;
}

table.display tr.choice-row{
	border: none !important;
	background: #F4F4F4 !important;
}


table.display{
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	border: 1px solid #D8D8D8;	
}

table.display {font: 12px "Helvetica", sans-serif;}



.group-arrow{
	text-decoration: none;
}

.var-input{
	border: none;
	width: 200px;
	float: left;
}

.mc-option-wrapper{
	width: 500px;
	height: 18px;
	padding: 3px;
	text-align: right;
	border: 1px solid #CCC;
	background: #FFFFFF;
	display: block;
}


.a-ctl{
/*	background: #EEE;*/
	color: #666;
	font-weight: bolder;
	text-decoration: none;
	padding: 2px 6px;
	margin: 5px 1px;
	-webkit-border-radius: 10px;
}

.a-ctl:hover{
/*	color: #559955;*/
	color: #FFFFFF;
	background: #666;
	
/*	background: #775577;*/
		
}

.metric-disp *{
	font: 12px "Helvetica", sans-serif;
}
