/*======================= LAYOUT =======================*/

body{
	margin:0px;
	padding:0px;
	font: 12px "Helvetica", sans-serif;
	background: #F6F6F6;
}


#logo{
	margin-left: 10px;
	font-size:48px;
	float: left;
	width: 150px;
	height: 68px;
	background-image: url(/static/img/logo.png);
	display: block;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	
	padding: 0px;
	
	-moz-box-shadow: 0 0 10px #888;
	-webkit-box-shadow: 0 0 10px #888;
	box-shadow: 0 0 10px #888;
}

#content{
	padding: 5px;
	margin: 0px;
	background: #FFF;
	min-height: 650px;
	
}

#header{
	background: #333333;
	height: 70px;
	position: relative;
	color: #FFF;
}

#user-info{
	float: right;
	margin: 5px;
	padding: 5px;
}


/*======================= PATH HEADING =======================*/

.path{
	height: 20px;
	margin: 1px 0px;
	padding: 2px 7px; 
/*	background: #D6D6C1;*/
	color: #666;
}


.path a:hover{
	color: #559955;
	text-decoration: underline;
}

a{
	color: #666;
	text-decoration: none;
}

a:hover{
	color: #cc6666;
	text-decoration: underline;
}

/*======================= RISK MATRIX =========================*/

.risk-bar{
	background: #cf7979;
	opacity: 0.8;
	display: block;
	height: 15px;
	color: #000000 !important;

	border-right: 1px solid #666;
	
	padding: 2px 4px;
	margin: 0px;
}

.risk-outer{
	display: block;
	border-left:1px solid #666;
	width: 90%;
	margin: 0px;
	padding: 0px;
}



/*============================ TABS ============================*/
ul.tabs{
	display: block;
	height: 25px;
	padding: 0px 5px;
	margin: 0px 0px 6px 0px;
	background: #D6D6C1;
	border-bottom: 1px solid #666;
}

.tabs li{
	height: 24px;
	width: 90px;
	list-style: none;
	display: block-inline;
	float: left;
	
	
	margin: 0px;
	padding: 0px;
	
	text-align: center;
	
}

.tabs li.active{
	
	
}

.tabs li a{
	height: 15px;
	padding: 5px 6px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	
	border-top: 1px solid #D6D6C1;
}

.tabs li.active a{
	background: #FFF;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.49, rgb(255,255,255)),
	    color-stop(0.75, rgb(242,242,242))
	);
	
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 49%,
	    rgb(242,242,242) 75%
	);
}

.tabs a{
	display: block;
	color: #000;
	text-decoration: none;
	
}
.tabs li.inactive a:hover{
	background: #C6C6B1;

}


/*====================== RISK MODEL FORM ========================*/

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    color: #cc6666;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}





input[type="submit"]{
	border: 1px solid #666;
	-webkit-border-radius: 3px;
	height: 24px;
	background: #efefef;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.3, rgb(245,245,245)),
	    color-stop(0.2, rgb(212,212,212))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(245,245,245) 1%,
	    rgb(212,212,212) 51%
	);
	cursor: pointer;
}

input[type="submit"]:hover{
	border: 1px solid #cc6666;
}

select{
	border: 1px solid #666;
	height: 20px;
	background: #f5f5f5;
	outline-width:0;
}

select:hover{
	border: 1px solid #cc6666;
}

input[type="text"],input[type="password"]{
	background: #FFF !important;
	border: 1px solid #666;
	padding: 3px 4px;
	outline-width:0;
}








.display input{
		width: 80px;
}

input[type="text"]:hover{
	border: 1px solid #cc6666;
}

.option-name input{
	border: none !important;
	display: inline-block;
	width: 180px;
	height: 20px;
	background-origin: padding-box;
	-webkit-appearance: none;
	-moz-box-sizing: content-box;
	-webkit-user-select: text;
	margin: 0px;
	padding: 0px !important;
}
	
.option-name input:focus{
	outline-width:0;
}

.option-wrapper{
	display: block;
	border: 1px solid #666;
	background: #FFF;
	padding: 1px 4px;
}

a.rm-inline{
	color: #CCC;
	text-decoration: none;
	margin: 4px 6px;
}

a.rm-inline:hover{
	color: #666;
}


/****************************************************************************/
/* DATATABLES STUFF */
/****************************************************************************/


.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
	
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}

.ui-buttonset .ui-button {
	margin-right: -0.1em !important;
}

.paging_full_numbers {
	width: 350px !important;
}

.ui-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

table.display thead th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	* cursor: hand;
	background: #E9E9E9 !important;
}

.dataTables_wrapper{
	background: #F5F5F5;
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}



table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}


.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
	padding: 5px 5px;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	padding: 5px 5px;
}

.dataTables_info {
	width: 50%;
	float: left;
	padding: 5px 5px;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	padding: 5px 5px;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_button{
	margin: 5px 2px 5px 0px;
	padding: 3px;
	border: 1px solid #AAA;
}

.paginate_active{
	background: #AAA;
	color: #FFF;
	margin: 0px 0px 0px 0px;
	padding: 3px;
	border: 1px solid #AAA;
}

.paging_full_numbers{
	margin: 5px;
	padding: 5px 0px;
}

.datatables_info{
	margin: 5px;
	padding: 5px 0px;
}


table.display tfoot th {
	padding: 3px 0px 3px 10px;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 3px;
}

table.display td:hover {

}


table.display td.center {
	text-align: center;
}


.monospace{
	font-family: "Courier New", Courier, monospace !important;
}

.dataTables_wrapper{
	margin: 15px 0px;	
}


/****************************************************************************/
/*CUSTOM DATATABLES STUFF */
/****************************************************************************/
.sorting_asc {
	background: #FFF url('/static/img/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: #FFF url('/static/img/sort_desc.png') no-repeat center right;
}

.sorting {
	background: #FFF url('/static/img/sort_both.png') no-repeat center right;
}

.display thead{
	border: 1px solid #D8D8D8;
}

.sorting_asc, .sorting_desc, .sorting{
	background: #EAEAEA;
}

div .dataTables_wrapper{
	clear: both;
}

table.grad tr{
	background: url('/static/img/row_bg.png');
	border-top: 1px solid #D8D8D8;
}

table.grad tr:hover{
/*	background: url('/static/img/row_bg.png');*/
	background: #f5e9e9;
	border-top: 1px solid #D8D8D8;
}

.dataTables_info{
	display: block;
}

.dataTables_paginate{
	display: block;
	background: #efefef;
}

td.right-edge{
	border-right: 1px solid #FFF;
}

table.display tr.choice-row{
	border: none !important;
	background: #F4F4F4 !important;
}


table.display{
	margin: 4px 0px;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	border: 1px solid #D8D8D8;	
}

table.display {font: 12px "Helvetica", sans-serif;}



.group-arrow{
	text-decoration: none;
}

.var-input{
	border: none;
	width: 200px;
	float: left;
}

.mc-option-wrapper{
	width: 500px;
	height: 18px;
	padding: 3px;
	text-align: right;
	border: 1px solid #CCC;
	background: #FFFFFF;
	display: block;
}


.a-ctl{
	border: none;
	color: #666;
	font-weight: bolder;
	text-decoration: none;
	padding: 2px 6px;
	margin: 5px 4px;
	background: none;
	cursor: pointer;
	text-decoration: none !important
	
}

.a-ctl.inactive:hover{
/*	color: #559955;*/
	color: #FFFFFF;
	background: #ee8888;
	-webkit-border-radius: 10px;
/*	background: #775577;*/

}
.a-ctl.active{
	-webkit-border-radius: 10px 10px 0px 0px;
	background: #DDE8E8;
	border-top: 1px solid #CCDDD8;
	border-left: 1px solid #CCDDD8;
	border-right: 1px solid #CCDDD8;
}

.a-ctl:hover .org-inv{
	color: #FFF;;
}

.stripe{
	background: #F6F6F6;
	padding: 0px;
	min-height: 14px;
}

.submit-stripe{
	padding: 3px 6px;
	min-height: 14px;
/*	text-align: right;*/
	margin: 3px 0px;
}

.action-inner{
	padding: 0px;
	margin: 0px;
}

.green{
	border: 1px solid #CCDDD8;
	background: #DDE8E8;
}


.red{
	border: 1px solid #cc6666;
	background: #f3d7d7;
}


.gray{
	background: #F6F6F6;
	border: 1px solid #ddd;	
}

.form-panel{
	padding: 5px;
	margin: 0px 0px;
}

.text-right{
	float: right;
}


.action-outer{
	margin: 0px;
	padding: 0px;
	display: none;
}

#action-outer{
	display: none;
}

.metric-disp{
	padding: 10px;
}
.metric-disp td{
	padding: 5px;
	vertical-align: top;
}


h1,h2,h3,h4,h5{padding: 5px 2px; margin: 0px; font-weight: bolder;}