{% extends "communityBase.html" %}

{% block tabcontent %}

<div id="tab-content">
	<div id="actions" class="stripe">
	</div>
	
	<table cellpadding="0" cellspacing="0" border="0" class="display grad sortable" width="100%" align="center">
       	<thead>
			<tr>
				<th width="5%">ID</th>
				<th width="19%">Community</th>
				<th width="19%">Metric</th>
				<th width="19%">User</th>
				<th width="19%">Date</th>
				<th width="19%">Value</th>
				</tr>
		</thead>
		
		
		<tbody>
			{% for observation in observations %}
			<tr>
				<td><a href="">{{observation.id}}</a></td>
				<td>
					<a href="{% url communities.views.survey community_id=observation.community.id project_id=project.id %}"> 
					{{observation.community}}	
					</a>
				</td>
				<td><a href="{% url risk_models.views.metric metric_id=observation.metric.id project_id=project.id %}">{{observation.metric}}</a></td>
				<td>{{observation.user}}</td>
				<td>{{observation.timestamp|date:"m/d/Y H:i:s"|lower }}</td>
				<td>
					{% if observation.metric.metricType == 'D'%}
					{{ observation.value }}
					{% endif %}
					{% if observation.metric.metricType == 'M' %}
					{{ observation.mcValue }}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>



{% endblock %}