{% extends "base.html" %}

<h2 id="title" class="path"> <a href="/projects/{{community.projects.id}}">{{community.project.name}}</a>/
<a href="/projects/{{community.projects.id}}/communities">communities</a>/{{community.name}}</h2>

{% block content %}

<h3 id="title" class="title-stripe"> 
	/ <a href="/projects/" class="bread-crumb">Projects </a> /
	<a href="/projects/{{project.id}}" class="bread-crumb">{{project.name}}</a> /
	<a href="/projects/{{project.id}}/communities" class="bread-crumb">Communities</a> /
	<a href="#"class="bread-crumb">{{community.name}}</a>
</h3>
<ul class="tabs">
	<li class="{% if active_tab == "administration" %}active{% else %}inactive{% endif %}"> 
		<a href="/projects/{{community.project.id}}/communities/{{community.id}}/administration" style="text-decoration: line-through;"> 
			Administration</a></li>
    <li class="{% if active_tab == "attachments" %}active{% else %}inactive{% endif %}"> 
		<a href="/projects/{{community.project.id}}/communities/{{community.id}}/attachments" style="text-decoration: line-through;">
			Attachments</a></li>
	<li class="{% if active_tab == "notes" %}active{% else %}inactive{% endif %}">
		<a href="/projects/{{community.project.id}}/communities/{{community.id}}/survey" style="text-decoration: line-through;">
			Notes</a></li>
	<li class="{% if active_tab == "observations" %}active{% else %}inactive{% endif %}">
		<a href="/projects/{{community.project.id}}/communities/{{community.id}}/observations">
			Observations</a></li>
	<li class="{% if active_tab == "survey" %}active{% else %}inactive{% endif %}">
		<a href="/projects/{{community.project.id}}/communities/{{community.id}}/survey">
			Survey</a></li>

</ul>
<div id="tab-container">
{% block tabcontent %}

{% endblock %}
<div id="tab-container">

{% endblock %}