<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" />

	<script language="JavaScript" src="/static/js/jquery-1.5.min.js"></script>
	<script language="JavaScript" src="/static/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.11.custom.min.js"></script>

	
	<script>
		function enable_metric_js(){
			$('.option-order').hide();
			$('.option-delete').hide();
			$('#options-header').hide();
		
			$('.rm-inline').click(function(){
				$(this).parents('tr.form-row').find('input:checkbox').attr('checked', true);
				$(this).parents('tr.form-row').hide("fade");
				return false;
			});
		
		
			$('#add-option').click(function(){
			
			});
	
			$('#id_metric-metricType').change(updateOptionsPane);
		}
		
		function updateOptionsPane(){	
			if($('#id_metric-metricType').val() == 'D'){
				$('#right-pane table').hide();
				$('#d-specific').show("fade");
			}
			if($('#id_metric-metricType').val	() == 'M'){
				$('#right-pane table').hide();
				$('#m-specific').show("fade");
			}
		}
	
		function enable_action_tabs(){

			$('.a-ctl.inline').click(function(){
				var url = $(this).attr("href") + " #action-panel";
				
				$('.a-ctl.active').removeClass("active").addClass("inactive");
				$(this).removeClass("inactive");
				$(this).addClass("active");

				$("#action-panel").hide("appear",function(){
					$("#action-panel").empty();
					$(this).load(url,function(){
						enable_tokens();
						enable_metric_js();
						updateOptionsPane();
						$("#action-panel").show("appear");
					});
				});
				
				return false;
			});
		}
		
		function enable_tables(){
			$('table.sortable').dataTable();
		}
		
		function enable_tokens(){
			$(".tokenized").each(function(){
				var query_url = '/' + $(this).attr('class').match(/ajaxurl-([\w-]+)/)[1].replace("-","/");
				
				$(this).tokenInput(query_url,{
					classes: {
				    tokenList: "token-input-list-facebook",
				    token: "token-input-token-facebook",
				    tokenDelete: "token-input-delete-token-facebook",
				    selectedToken: "token-input-selected-token-facebook",
				    highlightedToken: "token-input-highlighted-token-facebook",
				    dropdown: "token-input-dropdown-facebook",
				    dropdownItem: "token-input-dropdown-item-facebook",
				    dropdownItem2: "token-input-dropdown-item2-facebook",
				    selectedDropdownItem: "token-input-selected-dropdown-item-facebook",
				    inputToken: "token-input-input-token-facebook",
					// preventDuplicates: true,
				}})
			});
			$('.tokenized').parents('form').find("input:submit").click(function(){
				var fields = new Array;
				$('.tokenized').siblings('ul').find('li p').each(function(){
					fields.push($(this).text());
				});
				$(".tokenized").val(fields.join(';'));
			});
		}
	</script>
	
	<script language="JavaScript">
		$(document).ready(function(){
			enable_action_tabs();
			enable_tables();
			updateOptionsPane();
		});
	</script>
	
	<script language="JavaScript">
		$(document).ready(function(){
			
			//navigation
			$("ul.tabs li").live('click',function(){
				var url;
				var direction_in;
				var direction_out;
				
				if($(this).index() == $("ul.tabs li.active").index()){
					return false;
				}
				if($(this).index() > $("ul.tabs li.active").index()){
					direction_in="left";
					direction_out="right";
				}else{
					direction_in="right";
					direction_out="left";
				}
				
				//get the uri of the referenced page part
				var url = $(this).children("a").attr("href") + " #tab-content";
				
				$(".tabs li.active").addClass("inactive").removeClass("active");
				$(this).removeClass("inactive").addClass("active");
				
				
				$("#tab-container").
					hide("slide",{"direction":direction_in},200,function(){
						$(this).load(url,function(){
							enable_action_tabs();
							enable_tables();
							$("#tab-container").show("slide",{"direction":direction_out},200);
						});
					});
			
				return false;
			});

		});
	</script>
	

	
	<script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/token-input.css" />
	
	
	
	<script>
	$(document).ready(function() {
		$('.choice-row').hide();

		var rightArrow=String.fromCharCode(0x25b6);
		var downArrow=String.fromCharCode(0x25bc);

		$('.group-arrow').click(function(){
			if($(this).text() == rightArrow){
				$(this).parents('tbody').children('.choice-row').show();
				$(this).text(downArrow)
			}
			else{
				$(this).parents('tbody').children('.choice-row').hide();
				$(this).text(rightArrow);
			}
			return false;
		});


	});

	</script>
	
	

	
</head>
<body>
<div id="container">
	<div id="header">
		<div id="logo"></div>
		
			{% if user.is_authenticated %}
			<div class="cur-user">{{ user.username }} / <a href="/accounts/logout/">Logout</a></div>
			{% else %}
			<div class="cur-user">Login</div>
			{% endif %}
			
	</div>

	<div id="content">
			{% block content %}{% endblock %}
	</div>
</div>
</body>

</html>