{% extends "base.html" %}

{% block content %}
<h2 id="title" class="path">/{{project.name}}/metrics/
{% if is_new %}
new metric
{% endif %}
{% if not is_new %}
{{metric.name}}
{% endif %}
</h2>



<script>
	$(document).ready(updateOptionsPane);
	$(document).ready(enable_metric_js);
</script>


<div class="action-panel" id="action-panel">
<form method="post" action="/projects/{{project.id}}/metrics/new{% if model.id %}?model={{model.id}}{% endif %}">
{% csrf_token %}
<table class="metric-disp">
	<tbody><tr>
	<td class="right-edge">
		<table>
			<tr class="form-row"><td class="form-field"><b>Metric name:</b></td></tr>
			<tr class="form-row"><td class="form-field"> {{ form.name }} {{ form.project }}</td></tr>
			<tr class="form-row"><td class="form-field"><b>Metric type:</b></td></tr>
			<tr class="form-row"><td class="form-field">
					{{ form.metricType }}
			</td></tr>
			<tr><td class="form-row"><input type="submit" value="Submit"></td></tr>
		</table>
	</td>
	<td id="right-pane">
		<table id="m-specific">
			<tr class="form-row"><td class="form-field">
				<b>Selection Options:</b> (<a class="a-ctl" href="#">&#x271a; Add new</a>)
			</td></tr>
			<tr id="options-header">
				<th>Option</th>
				<th>Order</th>
				<th>Delete</th>
			{{ options.management_form }}
			{% for form in options.forms %}
			<tr class="form-row">
				<td class="option-name"><span class="option-wrapper">{{ form.id }}{{ form.name }}<a class="rm-inline" href="#">&#x2716;</a></span></td>
				<td class="option-order">{{ form.ORDER }}</td>
				<td class="option-delete">{{ form.DELETE }}</td>
			</tr>
			{% endfor %}
			
			</td>
			</tr>
		</table>
		<table id="d-specific">
			<tr class="form-row">
				<td class="form-label">
				<b>Decimal Options:</b>
				</td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Minimum value:</td> 
				<td class="form-field"> {{ form.minimumValue }} </td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Maximum value:</td> 
				<td class="form-field"> {{ form.maximumValue }} </td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Unit of Measure:</td>
				<td class="form-field"> {{ form.unitOfMeasure }} </td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Digits to display:</td>
				<td class="form-field"> {{ form.precision }} </td>
			</tr>
		</table>
	</td>
	</tr></tbody>
</table>
</div>

</form>

{% endblock %}
