{% extends "modelBase.html" %}




{% block tabcontent %}


<div id="tab-content">




<form method="post" action="">

{% csrf_token %}

<div id="actions" class="stripe">

<a class="a-ctl inactive inline" href="/projects/{{project.id}}/models/{{model.id}}/new-metric">&#x271a; Add metric</a>
<a class="a-ctl inactive inline" href="/projects/{{project.id}}/metrics/new?model={{model.id}}">&#x270e; Create new metric</a>	
</div>

<div id="action-panel" class="actions-panel">
	
</div>

<table class="display grad">
<thead>
	<th width="6%"> </th>
	<th width="30%">Metric</th>
	<th width="13%">Weight/Score</th>
	<th width="13%">Transformation</th>
	<th width="13%">Default Value</th>
	<th width="13%">Duplicate Policy</th>
	<th width="13%">Missing Policy</th>
</thead>
<tbody>
	
	{{ link_forms.management_form }}
	{% for link in link_forms.forms %}
	<tr>
		<td>
			{% if link.instance.metric.metricType == "M" %}
			<a class="group-arrow collapsed" href="#">&#x25b6;</a>
			{% endif %}
		</td>
		<td>
			{{ link.id }}
			<b>{{ link.instance.metric }}{{link.metric}}</b>
		</td>
		
		<td>
			{% if link.instance.metric.metricType == "D" %}
			{{ link.weight.errors }}{{ link.weight }}
			{% endif %}
		</td>
		<td>
			{% if link.instance.metric.metricType == "D" %}
			{{ link.transformation.errors }}{{ link.transformation}} 
			{% endif %}	
		</td>
		<td>
			{% if link.instance.metric.metricType == "D" %}
			{{ link.default.errors }}{{ link.defaultDecimalValue }} 
			{% endif %}
			{% if link.instance.metric.metricType == "M" %}
			{{ link.defaultMCValue }} 
			{% endif %}
		</td>
		<td>
			{{ link.duplicateValuePolicy.errors }}{{ link.duplicateValuePolicy}} 
		</td>
		<td>{{ link.missingValuePolicy }}</td>
	</tr>
	
	{% if link.instance.metric.metricType == "M" %}
	{{ link.nested.management_form }}
	{% for choice in link.nested.forms %}
	<tr class="choice-row">
		<td></td>
		<td>{{ choice.id }} - {{ choice.instance.option }}</td>
		<td>{{ choice.score }}{{ choice.option }}{{ choice.modelMetricLink }}</td>
		<td></td>
		<td>
		{% if link.instance.metric.metricType == "M" %}
		{% endif %}
		</td>
		<td></td>
		<td></td>
	</tr>
	{% endfor %}
	{% endif %}	
	
	{% endfor %}
	
</tbody>
</table>


<div id="submit-container" class="submit-stripe">
<input type="submit" value="Save changes">
</div>
</form>

</div>

{% endblock %}
