{% extends "modelBase.html" %}

{% block tabcontent %}

<div id="tab-content">
	<div id="actions" class="stripe">
		<a id="add-user" href="add-user"><img width="10px" height="10px" src="/static/img/admin/icon_addlink.gif"/>Add User</a>
		<a id="save" href="save"><img width="10px" height="10px" src="/static/img/admin/icon-yes.gif"/> Save Changes</a>
	</div>
	 <table cellpadding="0" cellspacing="0" border="0" class="display" id="users_table" width="100%" align="center">
       	<thead>
			<tr><th>Name</th>
			<th>Type</th>
			
		</thead>
		<tbody>
			{% for metric in metrics %}
			<tr>
				<td><a href="/metrics/{{metric.id}}">{{metric.name}}</a>
				<td>{{ metric.type }}</td></tr>
			{% endfor %}
		</tbody>
       </table>
</div>

{% endblock %}

