{% extends "modelBase.html" %}




{% block tabcontent %}
<script>
function updateOptionsPane(){	
	if($('#id_metric-metricType').val() == 'D'){
		$('#right-pane table').hide();
		$('#d-specific').show("fade");
	}
	if($('#id_metric-metricType').val	() == 'M'){
		$('#right-pane table').hide();
		$('#m-specific').show("fade");
	}
}
</script>

<script>
	$(document).ready(updateOptionsPane);
	
	
	
	
	$(document).ready(function(){
		
		$('.option-order').hide();
		$('.option-delete').hide();
		$('#options-header').hide();
		
		$('.rm-inline').click(function(){
			$(this).parents('tr.form-row').find('input:checkbox').attr('checked', true);
			$(this).parents('tr.form-row').hide("fade");
			return false;
		});
		
		
		$('#add-option').click(function(){
			
			
		
		});
	
		$('#id_metric-metricType').change(updateOptionsPane);
	
	});
	
</script>

<div id="tab-content">

<form method="post" action="">{% csrf_token %}

<div class="bubble-form">
<table class="display metric-disp">
	<tbody><tr>
	<td class="right-edge">
		<table>
			<tr class="form-row"><td class="form-field"><b>Metric name:</b></td></tr>
			<tr class="form-row"><td class="form-field"> {{ form.name }} </td></tr>
			<tr class="form-row"><td class="form-field"><b>Metric type:</b></td></tr>
			<tr class="form-row"><td class="form-field">
					{{ form.metricType }}
			</td></tr>
			<tr><td class="form-row"><input type="submit" value="Submit"></td></tr>
		</table>
	</td>
	<td id="right-pane">
		<table id="m-specific">
			<tr class="form-row"><td class="form-field">
				<b>Selection Options:</b> (<a class="a-ctl" href="#">&#x271a; Add new</a>)
			</td></tr>
			<tr id="options-header">
				<th>Option</th>
				<th>Order</th>
				<th>Delete</th>
			{{ options.management_form }}
			{% for form in options.forms %}
			<tr class="form-row">
				<td class="option-name"><span class="option-wrapper">{{ form.id }}{{ form.name }}<a class="rm-inline" href="#">&#x2716;</a></span></td>
				<td class="option-order">{{ form.ORDER }}</td>
				<td class="option-delete">{{ form.DELETE }}</td>
			</tr>
			{% endfor %}
			
			</td>
			</tr>
		</table>
		<table id="d-specific">
			<tr class="form-row">
				<td class="form-label">
				<b>Decimal Options:</b>
				</td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Minimum value:</td> 
				<td class="form-field"> {{ form.minimumValue }} </td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Maximum value:</td> 
				<td class="form-field"> {{ form.maximumValue }} </td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Unit of Measure:</td>
				<td class="form-field"> {{ form.unitOfMeasure }} </td>
			</tr>
			<tr class="form-row">
				<td class="form-label">Digits to display:</td>
				<td class="form-field"> {{ form.precision }} </td>
			</tr>
		</table>
	</td>
	</tr></tbody>
</table>
</div>

</div>
</form>

{% endblock %}
