{% extends "projectBase.html" %}


{% block tabcontent %}

<div id="tab-content">
	<div id="actions" class="stripe">

		<a class="a-ctl inactive inline" href="/projects/{{project.id}}/communities/new" id="new-community"><span class="org-inv">&#x270e;</span>Add new community</a>

	</div>
	
	<div id="action-outer" class="action-outer">
		
	</div>
	
	<table cellpadding="0" cellspacing="0" border="0" class="display grad sortable" id="users_table" width="100%" align="center">
       	<thead>
			<tr><th>Community</th><th>Description</th><th>Location</th></tr>
		</thead>
		<tbody>
			{% for community in communities %}
			<tr>
				<td><a href="/projects/{{community.project_id}}/communities/{{community.id}}/">{{community.name}}</td> 		
				<td>{{community.description|truncatewords:10}}</td>
				<td>{{community.location.x|floatformat:3}},{{community.location.y|floatformat:3}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>



{% endblock %}