{% extends "projectBase.html" %}


{% block tabcontent %}





<div id="tab-content">
	<div id="actions" class="stripe">
		<!-- <a class="a-ctl inactive" href="#" id="save-changes"><span class="org-inv">&#x2714;</span> Save Changes</a> -->
		<a class="a-ctl inactive inline" href="/projects/{{project.id}}/users/new" id="add-users"><span class="org-inv">&#x271a;</span> Add Existing Users</a>
		<a class="a-ctl inactive inline" href="#" id="invite-users"><span class="org-inv">&#x270e;</span> Invite New User</a>
		<a class="a-ctl inactive inline" href="#"><span class="org-inv">&#x1f50d; Search</a>
	</div>
	
	
	<div id="action-outer" class="action-outer">
		
	</div>
	
	 <table class="display grad" cellpadding="0" cellspacing="0" border="0" class="display" id="users_table" width="100%" align="center">
       	<thead>
			<tr><th>Username</th>
			<th>Role</th>
			<th>Actions</th></tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td><a href="/users/{{user.id}}">{{user.username}}</a>
				<td></td>
				<td><a class="row-remove" href=""></a></td></tr>
			{% endfor %}
		</tbody>
       </table>
</div>




{% endblock %}