{% extends "base.html" %}


{% block content %}

<ul class="tabs yellow">
	<li><a href="/projects/{{project.id}}/admin">01. Administration</a></li>
    <li><a href="/projects/{{project.id}}/models">02. Risk Models</a></li>
	<li><a href="/projects/{{project.id}}/communities">03. Communities</a></li>
    <li><a href="/projects/{{project.id}}/users">04. Users</a></li>
 	<li><a href="/projects/{{project.id}}/risk">05. Risk Matrix</a></li>
	<li><a href="/projects/{{project.id}}/map">06. Map View</a></li>
</ul>
<h2 id="title" class="title-stripe"> {{project.name}}</h2>
<div id="tab-container">
{% block tabcontent %}

{% endblock %}
</div>

{% endblock %}