{% extends "base.html" %}


{% block content %}

<h2 id="title" class="path"> {{project.name}}</h2>

<ul class="tabs yellow">
	<li><a href="/projects/{{project.id}}/admin">Administration</a></li>
    <li><a href="/projects/{{project.id}}/metrics">Metrics</a></li>
    <li><a href="/projects/{{project.id}}/observations">Observations</a></li>
	<li><a href="/projects/{{project.id}}/models">Risk Models</a></li>
	<li><a href="/projects/{{project.id}}/communities">Communities</a></li>
    <li><a href="/projects/{{project.id}}/users">Users</a></li>
 	<li><a href="/projects/{{project.id}}/risk">Risk Matrix</a></li>
	<li><a href="/projects/{{project.id}}/map">Map View</a></li>
	
</ul>

<div id="tab-container">
{% block tabcontent %}

{% endblock %}
</div>

{% endblock %}