{% extends "projectBase.html" %}

{% block tabcontent %}

<div id="tab-content">
	
	<div id="actions" class="stripe">
		<a class="a-ctl inactive inline" href="/projects/{{project.id}}/metrics/new" id="add-metric"> <span class="org-inv">&#x270e;</span> Create new metric</a>
		<a class="a-ctl inactive inline" href="#" id="import-metric"><span class="org-inv">&#x271a;</span> Import metric</a>
	</div>
	
	<div id="action-panel" class="actions-panel">
		
	</div>

	 <table cellpadding="0" cellspacing="0" border="0" class="display grad" id="users_table" width="100%" align="center">
       	<thead>
			<tr><th>Name</th>
			<th>Type</th>
			
		</thead>
		<tbody>
			{% for metric in metrics %}
			<tr>
				<td><a href="/projects/{{project.id}}/metrics/{{metric.id}}">{{metric.name}}</a>
				<td>{{ metric.metricType }}</td></tr>
			{% endfor %}
		</tbody>
       </table>
</div>

{% endblock %}

